:root {
  --branding-color: #3e7273;
  --primary-color: #3b6a6b;
  --heading-font-family: "Comfortaa", cursive;
  --default-font-family: "Space Mono", monospace;
  --secondary-color: white;
  --muted-color: #7aa1a13b;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: #3e7273;
}

h1 {
  color: var(--primary-color);
  font-size: 96px;
}

h2 {
  color: var(--branding-color);
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

img {
  border-radius: 6px;
}

.featured {
  color: var(--branding-color);
  padding: 20px;
  font-size: 20px;
}

.main {
  background: var(--secondary-color);
  border: 20px solid var(--branding-color);
}

.hero {
  text-align: center;
  color: var(--primary-color);
  padding: 160px 20px;
  border-bottom: 20px solid var(--branding-color);
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
}

.background-design {
  background: var(--secondary-color);
}

.content-container {
  padding: 20px 20px;
}

.content h1 {
  margin: 30px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.btn-branding {
  color: var(--secondary-color);
  background: var(--branding-color);
  border-radius: 4px;
  border-color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px, 30px;
}

.btn-branding:hover {
  font-weight: 900px;
  color: var(--branding-color);
  background: var(--secondary-color);
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px, 30px;
  color: #3b6a6b;
}

.project-description {
  padding: 20px 60px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 2px;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-right: 0px;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 0px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: var(--branding-color);
  font-weight: 900;
}

nav li.active a {
  font-weight: 700;
}

.image-block {
  padding-top: 40px;
}

.content-container-image {
  border-radius: 4px;
  max-width: 400px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--muted-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  font-weight: 900;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--muted-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  margin-bottom: 20px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0px;
  }

  nav a {
    font-size: 15px;
    margin: 0px;
  }

  footer .contact-box {
    padding: 30px;
  }

  .content-image {
    margin-top: 30px;
  }

  footer .email-link {
    font-size: 17px;
  }

  .content-container h1 {
    font-size: 55px;
  }
}
