body{
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;

}

p{
    font-family: 'Space Mono', monospace;
   
}
////*font-family: 'Comfortaa', cursive;
font-family: 'Space Mono', monospace;